@import helper._
@import play.api.i18n.Messages.Implicits._
@import services.BasicForm
@(userForm: Form[BasicForm], listOfName : Seq[(String,String)])(implicit messages: Messages)
@main("Upload File") {

    @helper.form(action =routes.UploadController.simpleFormPost(), 'enctype->"multipart/form-data"){
        @inputFile(userForm("path"), 'multiple -> "multiple", 'name->"path[]")
        <input type="submit" value="Submit">
    }

    @helper.form(action = routes.UploadController.compare()) {
        @select(field = userForm("document1"), options = listOfName)
        @select(field = userForm("document2"), options = listOfName)
        <input type="submit" value="compare">
    }
}

